In [1]:
import pandas

In [3]:
import pandas_datareader

In [4]:
import numpy as np

In [11]:
a = np.array([[0,4,2,3],[4,5,6,7]])

In [12]:
a

array([[0, 4, 2, 3],
       [4, 5, 6, 7]])

In [13]:
np.random.randint(1,5,(4,6))

array([[1, 3, 4, 4, 2, 3],
       [4, 3, 2, 3, 4, 4],
       [3, 3, 3, 4, 4, 1],
       [2, 3, 1, 3, 1, 1]])

In [14]:
np.random.randint(1,8,(5,8))

array([[5, 1, 6, 4, 1, 6, 1, 3],
       [4, 4, 2, 1, 6, 6, 2, 6],
       [4, 2, 6, 6, 1, 4, 7, 1],
       [5, 5, 1, 3, 1, 7, 6, 7],
       [4, 4, 5, 4, 1, 7, 6, 2]])

In [15]:
np.random.randint(1,3,(5,8))

array([[1, 2, 2, 2, 1, 1, 1, 1],
       [1, 2, 1, 1, 1, 2, 1, 1],
       [2, 2, 1, 2, 2, 1, 2, 1],
       [2, 1, 1, 1, 1, 1, 2, 1],
       [1, 2, 2, 2, 1, 2, 2, 2]])

In [16]:
ser = pd.Series(np.random.random(5), name = "Colum 01")

NameError: name 'pd' is not defined

In [17]:
import numpy as np
import pandas as pd

ser = pd.Series(np.random.random(5), name = "Colum 01")

In [18]:
from pandas_datareader import data as wb

PG = wb.DataReader('PG', data_source = 'yahoo', start = '1995-1-1')

RemoteDataError: Unable to read URL: http://ichart.finance.yahoo.com/table.csv?s=PG&a=0&b=1&c=1995&d=5&e=5&f=2017&g=d&ignore=.csv

In [19]:
PG = wb.DataReader('PG', data_source = 'google', start = '1995-1-1')

In [20]:
PG

             Open   High    Low  Close    Volume
Date
2001-07-10  33.05  33.55  32.64  33.50   8135000
2001-07-11  33.85  34.50  33.55  34.38  10838000
2001-07-12  34.38  34.40  33.95  34.38   7121600
2001-07-13  34.15  34.21  33.83  34.07   5783600
2001-07-16  34.07  34.74  34.02  34.58   4473000
2001-07-17  34.68  35.00  34.38  34.96   6164800
2001-07-18  34.94  34.95  34.05  34.60   6481600
2001-07-19  34.60  34.86  33.84  34.20   6432400
2001-07-20  34.55  34.55  33.80  34.04   5396000
2001-07-23  34.08  34.15  33.60  33.90   4902400
2001-07-24  33.88  34.30  33.70  34.04   4347600
2001-07-25  34.04  35.00  33.92  35.00   4727000
2001-07-26  34.70  35.50  34.50  35.50   9196800
2001-07-27  35.25  35.71  35.06  35.24   4472200
2001-07-30  35.02  35.55  35.02  35.55   4508400
2001-07-31  35.55  35.80  35.30  35.51   6196200
2001-08-01  35.52  35.96  35.52  35.75   4897400
2001-08-02  35.88  35.98  35.35  35.73   3912400
2001-08-03  35.73  35.75  34.76  35.11   4421400
2001-08-06  35.20  35.38  34.88  35.38   5442600
2001-08-07  34.88  35.92  34.77  35.30   7439200
2001-08-08  34.75  35.22  34.75  34.92   4924600
2001-08-09  34.76  35.45  34.68  35.35   3989800
2001-08-10  35.60  36.26  35.43  35.94   8548400
2001-08-13  35.95  36.15  35.86  36.06   5344800
2001-08-14  36.18  36.31  36.00  36.25   5993200
2001-08-15  36.14  36.50  36.05  36.09   6124600
2001-08-16  36.58  37.20  36.45  37.10   8621800
2001-08-17  37.08  37.38  36.90  37.38   8610200
2001-08-20  37.45  38.04  37.14  37.84  11197400
...           ...    ...    ...    ...       ...
2017-04-21  89.17  89.28  88.61  88.62   9061218
2017-04-24  89.12  89.66  89.01  89.55   8338467
2017-04-25  89.58  90.25  89.47  90.00   9088390
2017-04-26  89.85  90.00  87.61  87.74  11951322
2017-04-27  87.58  88.24  87.23  87.69   8517522
2017-04-28  87.52  87.59  87.15  87.33   8295445
2017-05-01  87.38  87.60  87.08  87.09   4546624
2017-05-02  87.29  87.29  86.02  86.22  13197492
2017-05-03  86.30  86.63  85.90  86.43   6121974
2017-05-04  86.85  87.24  86.30  86.45   5986188
2017-05-05  86.54  86.61  86.13  86.50   4506197
2017-05-08  86.33  86.62  86.24  86.55   4634623
2017-05-09  86.80  86.82  86.22  86.40   9577623
2017-05-10  86.48  86.79  86.38  86.49   6178549
2017-05-11  86.61  86.63  85.88  86.17   6064727
2017-05-12  86.24  86.32  85.92  86.19   5892430
2017-05-15  86.65  86.71  86.24  86.33   5820742
2017-05-16  86.88  87.00  86.19  86.24   6554454
2017-05-17  86.22  86.63  85.93  86.26   7805770
2017-05-18  86.18  86.22  85.52  85.87   6985567
2017-05-19  86.00  86.38  85.67  86.24   7320725
2017-05-22  86.25  86.40  86.03  86.21   4259955
2017-05-23  86.28  86.54  85.98  86.08   4394225
2017-05-24  86.45  86.65  86.21  86.50   4902470
2017-05-25  86.58  86.98  86.55  86.86   4367960
2017-05-26  86.93  87.38  86.82  87.25   4337023
2017-05-30  87.25  87.61  87.10  87.40   4594514
2017-05-31  87.67  88.35  87.45  88.09  10146610
2017-06-01  88.02  88.14  87.37  88.13   6251292
2017-06-02  88.40  88.68  88.00  88.59   6136425

[4000 rows x 5 columns]